/* Button Component Tokens */
/* TODO reference values from figma */
:root{
  --radius-color-white: #fff;
  --radius-color-black: #262626;
  --radius-color-orange: #D44527;
  --radius-color-red: #A3331A;
  --radius-color-grey: #cccccc;

  --radius-spacing-0: 0px;
  --radius-spacing-1: 1px;
  --radius-spacing-2: 2px;
  --radius-spacing-3: 4px;
  --radius-spacing-4: 8px;
  --radius-spacing-5: 16px;
  --radius-spacing-6: 32px;
}


.radius-button {
  --radius-button-primary-background-color: var(--radius-color-black);
  --radius-button-primary-background-color-hover: var(--radius-color-orange);
  --radius-button-primary-background-color-active: var(--radius-color-red);
  --radius-button-primary-background-color-focus: var(--radius-color-orange);
  --radius-button-primary-background-color-disabled: var(--radius-color-grey);

  --radius-button-primary-border-color: var(--radius-color-black);
  --radius-button-primary-border-color-hover: var(--radius-color-orange);
  --radius-button-primary-border-color-active: var(--radius-color-red);
  --radius-button-primary-border-color-focus: var(--radius-color-orange);
  --radius-button-primary-border-color-disabled: var(--radius-color-grey);

  --radius-button-primary-text-color: var(--radius-color-white);
  --radius-button-primary-text-color-hover: var(--radius-color-white);
  --radius-button-primary-text-color-active: var(--radius-color-white);
  --radius-button-primary-text-color-focus: var(--radius-color-white);
  --radius-button-primary-text-color-disabled: var(--radius-color-white);

  --radius-button-secondary-background-color: var(--radius-color-white);
  --radius-button-secondary-background-color-hover: var(--radius-color-orange);
  --radius-button-secondary-background-color-active: var(--radius-color-red);
  --radius-button-secondary-background-color-focus: var(--radius-color-orange);
  --radius-button-secondary-background-color-disabled: var(--radius-color-white);

  --radius-button-secondary-border-color: var(--radius-color-black);
  --radius-button-secondary-border-color-hover: var(--radius-color-orange);
  --radius-button-secondary-border-color-active: var(--radius-color-red);
  --radius-button-secondary-border-color-focus: var(--radius-color-orange);
  --radius-button-secondary-border-color-disabled: var(--radius-color-grey);

  --radius-button-secondary-text-color: var(--radius-color-white);
  --radius-button-secondary-text-color-hover: var(--radius-color-white);
  --radius-button-secondary-text-color-active: var(--radius-color-white);
  --radius-button-secondary-text-color-focus: var(--radius-color-white);
  --radius-button-secondary-text-color-disabled: var(--radius-color-white);

  --radius-button-padding-small: var(--radius-spacing-5) var(--radius-spacing-6);
  --radius-button-padding-medium: var(--radius-spacing-5) var(--radius-spacing-6);
  --radius-button-padding-large: var(--radius-spacing-5) var(--radius-spacing-6);
  
  --radius-button-font: 'Riforma LL' normal 500 16px 0.01em;

    --radius-button-padding-left: var()
}