/* Riforma regular */
@font-face {
  font-family: 'Riforma LL';
  src: url('RangleRiformaWeb-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Riforma light */
@font-face {
  font-family: 'Riforma LL';
  src: url('RangleRiformaWeb-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Riforma medium */
@font-face {
  font-family: 'Riforma LL';
  src: url('RangleRiformaLL-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* Podkova Variable Font */
@font-face {
  font-family: 'Podkova';
  src: url('Podkova-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 100 900;
  font-stretch: 50% 200%;
}
